<script>
	<!--
	jQuery(function() {

		var map = null;

		var dataLocations = <%= proposals_as_json(@proposals) %>;

		function initMap() {

			var center = {lat:-12.54528, lng:-55.71139};

		  map = new google.maps.Map(document.getElementById('mainmap'), {
		    center: center,
		    scrollwheel: false,
		    zoom: 6
		  });

			//Create and open InfoWindow.
			var infoWindow = new google.maps.InfoWindow();

			for (var i = 0; i < dataLocations.length; i++) {
			    var data = dataLocations[i];
			    var myLatlng = new google.maps.LatLng(data.lat, data.lng);
			    var marker = new google.maps.Marker({
			        position: myLatlng,
			        map: map,
			        title: data.title,
			        icon: '/assets/' + data.icon,
			    });

			    // Click function at the markers
			    (function (marker, data) {
			        google.maps.event.addListener(marker, "click", function (e) {
			            infoWindow.setContent('<div id="content">'+
										'<h4><strong>' + data.title + '</strong></h4>'+
										'<p><%= fa_icon('map') %> ' + data.city + '</p>'+
										'<p><%= fa_icon('bookmark') %> ' + data.area + '</p>'+
										'<div><a href="' + data.link + '" class="btn btn-sm btn-primary">Mais Detalhes</a></div>'+
										'</div>');
			            infoWindow.open(map, marker);
			            map.panTo(myLatlng);
			        });
			    })(marker, data);
			}

		}

		google.maps.event.addDomListener(window, "load", initMap);
		google.maps.event.addDomListener(window, "turbolinks:load", initMap);


		$('.move-map-btn').click(function(){
				var lat = $(this).data('lat');
				var lng = $(this).data('lng');
				var center = new google.maps.LatLng(lat, lng);
		    map.panTo(center);
		})


	});
	-->
</script>
<div class="mapa">
	<div class="row">
		<div class="col-md-9">
			<div id="mainmap"></div>
		</div>
		<div class="col-md-3">
			<div class="top-proposals">

				<div class="top-proposals-header">
					<h3><span class="fa fa-heart-o"></span> Propostas populares</h3>
				</div>

				<% @popular_proposals.each do |proposal| %>
				<div class="top-proposals-item">
					<!-- <div class="top-proposals-image"><img src="http://placehold.it/350x150" alt="" class="img-responsive"></div> -->
					<div class="top-proposals-actions">
						<a class="btn btn-primary move-map-btn" data-lat="<%= proposal.city.latitude %>" data-lng="<%= proposal.city.longitude %>"><span class="fa fa-map-marker"></span></a>
					</div>
					<div class="top-proposals-info">
						<div class="top-proposals-title"><strong><%= link_to proposal.title, proposal %></strong></div>
						<div class="top-proposals-meta">
							<small>	<%= proposal.proposal_votes_count %> Votos - 
							<%= fa_icon 'comment-o', text: proposal.comments.count %> - </small>
							<span class="label label-success"><%= number_to_percentage proposal.thermometer %>% Positivo</span>
						</div>
					</div>
				</div>
				<% end %>

			</div>
		</div>
	</div>
</div>
