<%= simple_form_for(@proposal) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :content %>

  <fieldset>
    <legend><%= t '.address' %></legend>
    <%= f.input :city_id, collection: City.order(:name) %>
    <%= f.input :cep %>
    <%= f.input :street %>
    <%= f.input :number %>
    <%= f.input :complement %>
    <%= f.input :neighborhood %>
  </fieldset>

  <p><%= f.submit t('save'), class: "btn btn-primary" %></p>
<% end %>
