<% if user_signed_in? %>
  <% if proposal.voted?(current_user) %>

  	<script>
  		$(function () {
			  $('[data-toggle="tooltip"]').tooltip()
			})
  	</script>

    <a class="btn btn-default btn-disabled" data-toggle="tooltip" data-placement="top" title="Você só pode votar apenas uma vez" disabled><span class="fa fa-thumbs-o-up"></span> <span id="yes"><%= proposal.total_yes %></span></a>

    <a class="btn btn-default btn-disabled" data-toggle="tooltip" data-placement="top" title="Você só pode votar apenas uma vez" disabled><span class="fa fa-thumbs-o-down"></span> <span id="no"><%= proposal.total_no %></span></a>

		<!-- <p><span class="text-info">Você só pode votar apenas uma vez</span></p> -->

  <% else %>

    <%= link_to fa_icon('thumbs-o-up', text: "<span id=\"yes\">#{proposal.total_yes}</span>".html_safe), vote_proposal_path(proposal, answer: 'yes'), class: 'btn btn-default', remote: true, method: :post %>

    <%= link_to fa_icon('thumbs-o-down', text: "<span id=\"no\">#{proposal.total_no}</span>".html_safe), vote_proposal_path(proposal, answer: 'no'), class: 'btn btn-default', remote: true, method: :post %>

  <% end %>
<% else %>

  	<script>
  		$(function () {
			  $('[data-toggle="tooltip"]').tooltip()
			})
  	</script>

  <a class="btn btn-default btn-disabled" data-toggle="tooltip" data-placement="top" title="Você precisa logar para votar" disabled><span class="fa fa-thumbs-o-up"></span> <span id="yes"><%= proposal.total_yes %></span></a>

  <a class="btn btn-default btn-disabled" data-toggle="tooltip" data-placement="top" title="Você precisa logar para votar" disabled><span class="fa fa-thumbs-o-down"></span> <span id="no"><%= proposal.total_no %></span></a>

  <!-- <p><span class="text-info">Você só pode votar apenas uma vez</span></p> -->
<% end %>
