<% if user_signed_in? %>
  <% if proposal.voted?(current_user) %>

    <a class="btn btn-default btn-disabled" disabled><span class="fa fa-thumbs-o-up" title="Você só pode votar apenas uma vez"></span> <span id="yes"><%= proposal.total_yes %></span></a>

    <a class="btn btn-default btn-disabled" disabled><span class="fa fa-thumbs-o-down" title="Você só pode votar apenas uma vez"></span> <span id="no"><%= proposal.total_no %></span></a>

  <% else %>

    <%= link_to fa_icon('thumbs-o-up', text: "<span id=\"yes\">#{proposal.total_yes}</span>".html_safe), vote_proposal_path(proposal, answer: 'yes'), class: 'btn btn-default', remote: true, method: :post %>

    <%= link_to fa_icon('thumbs-o-down', text: "<span id=\"no\">#{proposal.total_no}</span>".html_safe), vote_proposal_path(proposal, answer: 'no'), class: 'btn btn-default', remote: true, method: :post %>

  <% end %>
<% else %>
  <a class="btn btn-default btn-disabled" disabled><span class="fa fa-thumbs-o-up" title="Você precisa logar para votar"></span> <span id="yes"><%= proposal.total_yes %></span></a>

  <a class="btn btn-default btn-disabled" disabled><span class="fa fa-thumbs-o-down" title="Você precisa logar para votar"></span> <span id="no"><%= proposal.total_no %></span></a>
<% end %>
