<h1><%= t '.title' %></h1>
<div class="row">
  <div class="col-md-9" id="listing"><%= render "listing" %></div>
  <div class="col-md-3">
    <%= form_tag proposals_path, method: :get, remote: true  do |f| %>
      <div class="form-group">
        <%= text_field_tag :q, params[:q], class: "form-control", placeholder: Proposal.human_attribute_name(:q) %>
      </div>
      <div class="form-group">
        <%= select_tag :city_id, options_from_collection_for_select(City.avaliable, 'id', 'name_with_state', params[:city_id]), prompt: Proposal.human_attribute_name(:city_id), class: "form-control" %>
      </div>

      <%= button_tag fa_icon('filter', text: t('filters_submit')), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
