<div class="jumbotron">
  <h1><%= @proposal.title %></h1>
  <ul class="list-unstyled">
    <li><%= fa_icon 'calendar', text: l(@proposal.created_at) %></li>
  </ul>

  <%= simple_format @proposal.content %>

  <hr />

  <div class="media">
    <div class="media-left">
      <%= avatar_tag @proposal.user %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= @proposal.user.nickname %></h4>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-3"><%= link_to fa_icon('thumbs-o-up'), vote_proposal_path(@proposal, answer: 'yes'), remote: true, method: :post %></div>
        <div class="col-md-3" id="yes"><%= @proposal.total_yes %></div>
        <div class="col-md-3"><%= link_to fa_icon('thumbs-o-down'), vote_proposal_path(@proposal, answer: 'no'), remote: true, method: :post %></div>
        <div class="col-md-3"><%= @proposal.total_no %></div>
      </div>
    </div>
    <div class="col-md-8"><%= @proposal.thermometer %></div>
  </div>
</div>

<h1><%= t 'comments.title' %></h1>
<%= render 'comments/new' %>
<div id="comments">
  <%= render partial: 'comments/comment', collection: @proposal.comments %>
</div>
