<h1 class="page-header"><%= t 'proposals.index.title' %></h1>

<div class="jumbotron">
  <h2><%= @proposal.title %></h2>
  <ul class="list-inline">
    <li><%= fa_icon 'calendar', text: l(@proposal.created_at) %></li>
    <li><%= fa_icon 'map', text: @proposal.city.name_with_state %></li>
    <li><%= fa_icon 'bookmark', text: @proposal.proposal_category.name %></li>
  </ul>

  <%= simple_format @proposal.content %>

  <hr />

  <div class="media">
    <div class="media-left">
      <%= avatar_tag @proposal.user %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= @proposal.user.nickname %></h4>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6" id="votes"><%= render 'votes', proposal: @proposal %></div>
    <div class="col-md-6">
      <strong>Aprovação</strong>
      <div id="thermometer"><%= render 'thermometer', total: @proposal.thermometer %></div>
    </div>
  </div>
</div>

<h1><%= t 'comments.title' %></h1>
<% if user_signed_in? %>
  <%= render 'comments/new' %>
<% else %>
  <p>
    Para comentar você deve realizar o <%= link_to 'login', new_user_session_path %> no sistema.
  </p>
<% end %>

<div id="comments">
  <%= render partial: 'comments/comment', collection: @proposal.comments %>
</div>
