<div class="jumbotron">
  <h1><%= @proposal.title %></h1>
  <ul class="list-unstyled">
    <li><%= fa_icon 'calendar', text: l(@proposal.created_at) %></li>
  </ul>

  <%= simple_format @proposal.content %>

  <hr />

  <div class="media">
    <div class="media-left">
      <%= avatar_tag @proposal.user %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= @proposal.user.nickname %></h4>
    </div>
  </div>
</div>

<h1><%= t 'comments.title' %></h1>
<%= render 'comments/new' %>
<div id="comments">
  <%= render partial: 'comments/comment', collection: @proposal.comments %>
</div>
