<%= simple_form_for(@city) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :state %>
    <%= f.input :name %>
    <%= f.input :population %>
    <%= f.input :pib %>
    <%= f.input :latitude, as: :string %>
    <%= f.input :longitude, as: :string %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
